body{
    font-family: "Open Sans", sans-serif;

}

h1, h2, h3{
   font-family:"Lobster", cursive; 
}

h2{
    color: #3046C5;
}

header h2{
    color: #CEC8FF;
}

h5{
    font-family:"Lobster",
    cursive;
}

.site-footer{
    background-image: linear-gradient(#48dacd, #a6ff0083);
    padding: 20px 0;
}

.jumbotron{
    background-image: linear-gradient(to right, #4cd83f, #48dacd, #6f00ff);
    color: white;
    margin: 0;
    padding: 30px;
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    background-color:#17a2b8;
}

.tab-content{
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}


/* carousel captions styling */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}